<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnLanguage"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddFolderActivity"/>
        <activity android:name=".activity.FolderDetailActivity"/>
        <activity android:name=".activity.WordTopicActivity"/>
        <activity android:name=".activity.AddTopicActivity"/>
        <activity android:name=".activity.AddTopicEnterWordActivity"/>
        <activity android:name=".activity.AddTopicImportCSVActivity"/>
        <activity android:name=".activity.AddWordTopicActivity"/>
        <activity android:name=".activity.EditProfileActivity"/>
        <activity android:name=".activity.FlashCardActivity"/>
        <activity android:name=".activity.MultipleChoiceActivity"/>
        <activity android:name=".activity.FillInWordActivity"/>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>